@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --color-bg-dark: #0B1220;
  --color-bg-light: #F3F4F6;
  --color-primary: #2563EB;
  --color-primary-light: #93C5FD;
  --color-text-main: #111827;
  --color-text-muted: #64748B;
  --color-border: #E5E7EB;
  --color-gray-medium: #94A3B8;
  --color-success: #10B981;
  --color-purple: #8B5CF6;
  --color-warning: #F59E0B;
  --color-error: #EF4444;
}

p {
  font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway', sans-serif;
}

.font-montserrat {
  font-family: 'Montserrat', sans-serif;
}

.font-raleway {
  font-family: 'Raleway', sans-serif;
}

@layer base {
  .no-tailwind * {
    all: inherit;
  }
}