---
const { href, target, showBg = true } = Astro.props;
---

<a
  href={href}
  target={target}
  class:list={[
    "flex items-center gap-1 text-btns hover:text-btns/90 px-2 py-1 rounded-lg",
    { "bg-black/50": showBg },
  ]}
>
  <slot />
</a>
