---
const { title, icon } = Astro.props as {
  title: string;
  icon: string;
};
---

<div class="size-12 relative group rounded-lg">
  <span
    class="absolute z-20 top-0 left-[50%] -translate-x-[50%] -translate-y-[125%] opacity-0 transition-opacity bg-custom px-2 uppercase font-bold rounded-lg hidden group-hover:inline group-hover:opacity-100"
  >
    {title}
  </span>

  <img
    src={`/icons/${icon}`}
    alt={`Icono de ${title}`}
    class="size-full group-hover:scale-110 transition-transform"
  />
</div>
