---
import SectionCard from "./SectionCard.astro";
import ExperienceCard from "./ExperienceCard.astro";
import getTextI18 from "../../utils/getTexti18";
import getExperience from "../../utils/getExperience";

const { lang } = Astro.params as {
  lang: string;
};

const section_title = await getTextI18(lang, "experience");

const experience = await getExperience(lang);
---

<SectionCard title={section_title}>
  <div class="flex flex-col gap-2 relative">
    {
      experience
        .slice()
        .reverse()
        .map((data, i) => <ExperienceCard {...data} index={i} />)
    }

    <div
      class="hidden md:inline w-[.1rem] h-full absolute left-[50%] -translate-x-[50%] bg-custom2-1"
    >
    </div>
  </div>
</SectionCard>
