---
import SectionCard from "./SectionCard.astro";
import skills from "../../data/skills.json";
import SkillWithTooltip from "../SkillWithTooltip.astro";
---

<SectionCard title="Tecnologías">
  <div class="flex flex-wrap gap-2 justify-center">
    {skills.map((skill) => <SkillWithTooltip {...skill} />)}
  </div>
</SectionCard>
