---
import ClientRouter from "astro/components/ClientRouter.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Snow from "../components/Snow";
---

<!doctype html>
<html lang="en" class="size-full">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>efrask.dev</title>
		<ClientRouter />
	</head>
	<body class="bg-[#1a1a1a] size-full flex flex-col gap-2 items-center">
		<!-- <Header /> -->

		<main class="flex px-4 mt-12 py-2 flex-col gap-6 w-full lg:w-[52rem]">
			<slot />
		</main>

		<Snow client:only />

		<Footer />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
		color-scheme: dark;
	}
</style>
